
@model WebApplication1.Models.PasswordModel

<div>
    @using (Html.BeginForm("Manage", "Dashboard"))
    {
        @Html.AntiForgeryToken()

        <div>
            <div>
                @Html.Label("Site name", new { @id = "label-site-name" })
                @Html.TextBoxFor(Model => Model.SITE_NAME, new { @class = "form-control", style = "margin-auto;", required = "required", placeholder = "Site Name" })
            </div>
            <div>
                @Html.Label("Site Password", new { @id = "label-site-password" })
                @Html.PasswordFor(Model => Model.SITE_PASSWORD, new { @class = "form-control", style = "margin-auto;", required = "required", placeholder = "Password" })
            </div>
            <div>
                @Html.Label("Username", new { @id = "label-username" })
                @Html.TextBoxFor(Model => Model.USER_NAME, new { @class = "form-control", style = "margin-auto;", required = "required", placeholder = "Username" })
            </div>
            <div>
                @Html.Label("Email", new { @id = "label-email" })
                @Html.TextBoxFor(Model => Model.EMAIL, new { @class = "form-control", style = "margin-auto;", required = "required", placeholder = "Email" })
            </div>
            <div>
                @Html.Label("Contact Number", new { @id = "label-contact" })
                @Html.TextBoxFor(Model => Model.CONTACT_NUMBER, new { @class = "form-control", style = "margin-auto;", required = "required", placeholder = "Contact Number" })
            </div>
        </div>

        <div style="text-align:right">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input name="Submit" value="Submit" type="submit" class="btn btn-primary">
        </div>
    }
</div>