@model WebApplication1.Models.DashboardModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*background image*@
    @*<style>
            body {
                background-image: url('../../images/pass.jpg');
            }
        </style>*@

    @*<div>
            @{
                for (var data in Model.RegistrationList)
                {
                    <tr>
                        <th scope="row">@data.ID</th>
                        <td>@data.NAME</td>
                        <td>@data.EMAIL</td>
                        <td>@data.CONTACT/td>
                        <td>
                            <div>
                                <button class="btn btn-danger btn-sm" onclick="showProfile('@data.ID', '@data.NAME', '@data.EMAIL', '@data.CONTACT')">Edit Profile</button>
                            </div>
                        </td>
                    </tr>
                }
            }
        </div>*@

    @*general repository layout*@
    <div>
        <h4 style="text-align:center">Welcome back</h4>
        <button class="btn btn-info btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#add-password-modal">Add new password</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Site name</th>
                    <th scope="col">Password</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var data in Model.PasswordList)
                    {
                        <tr>
                            <th scope="row">@data.ID</th>
                            <td>@data.SITE_NAME</td>
                            <td>@data.SITE_PASSWORD</td>
                            <td>@data.DEC_PASSWORD</td>
                            <td>@data.USER_NAME</td>
                            <td>@data.EMAIL</td>
                            <td>@data.CONTACT_NUMBER</td>
                            <td>
                                <div>
                                    <button class="btn btn-danger btn-sm" onclick="deleteAccount('@data.ID', '@data.SITE_NAME', '@data.USER_NAME')">Delete</button>
                                    <button class="btn btn-info btn-sm" onclick="showAccountDetails('@data.ID', '@data.SITE_NAME','@data.SITE_PASSWORD', '@data.USER_NAME', '@data.EMAIL', '@data.CONTACT_NUMBER')">Modify</button>
                                    <button class="btn btn-info btn-sm" onclick="showPassword('@data.ID', '@data.DEC_PASSWORD')">Show Password</button>
                                </div>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>

    @*add new student modal*@
    <div id="add-password-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new student</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_AddPassword", Model.PasswordModel)
                </div>
            </div>
        </div>
    </div>

    @*modify password modal*@
    <div id="modify-password-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modify Account details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label id="label-site-name">Site Name</label>
                    <input type="text" class="form-control" id="txb-site-name" />

                    <label id="label-site-password">Site Password</label>
                    <input type="text" class="form-control" id="txb-site-password" />

                    <label id="label-username">Username</label>
                    <input type="text" class="form-control" id="txb-username" />

                    <label id="label-email">Email</label>
                    <input type="text" class="form-control" id="txb-email" />

                    <label id="label-contact">Contact Number</label>
                    <input type="text" class="form-control" id="txb-contact" />

                    <input type="hidden" id="pass-id" />

                    <div style="text-align:right">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="button" value="Modify account" class="btn btn-info" onclick="modifyAccountDetails()" />
                    </div>

                </div>
            </div>
        </div>
    </div>

    @*show password modal*@
    <div id="show-password-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modify Account details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label id="label-show-password">Site Password</label>
                    <input type="text" class="form-control" id="txb-show-password" value="@Model.PasswordModel.DEC_PASSWORD" />

                    <input type="hidden" id="pass-id" />
                    <div style="text-align:right">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>

<script type="text/javascript">

    function deleteAccount(userId, siteName, userName) {

        if (confirm("Are you sure you want to delete your account in " + siteName + " with the username " + userName + "?")) {

            var data = {
                userId: userId
            }

            $.ajax({
                type: "POST",
                url: "/Dashboard/DeleteAccount",
                dataType: "JSON",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf8',
                success: function (res) {
                    alert(res.msg)
                    location.reload(true);
                },
                error: function () {
                    alert("An error occurred")
                }
            })

        }

    }

    function showPassword(userId, dec_Pass) {

        $('#show-password-modal').modal('show');

        $('#txb-show-password').val(dec_Pass);
        $('#pass-id').val(userId)

    }

    function showAccountDetails(userId, siteName, sitePass, userName, email, contact) {

        $('#modify-password-modal').modal('show');

        $('#txb-site-name').val(siteName);
        $('#txb-site-password').val(sitePass);
        $('#txb-username').val(userName);
        $('#txb-email').val(email);
        $('#txb-contact').val(contact);
        $('#pass-id').val(userId)

    }


    function modifyAccountDetails() {

        var siteName = $('#txb-site-name').val();
        var sitePass = $('#txb-site-password').val();
        var userName = $('#txb-username').val();
        var email = $('#txb-email').val();
        var contact = $('#txb-contact').val();
        var userId = $('#pass-id').val()


        if (confirm('Are you sure you want to modify the account details?')) {

            var data = {
                siteName: siteName,
                sitePass: sitePass,
                userName: userName,
                email: email,
                contact: contact,
                userId: userId,
            }

            $.ajax({
                type: "POST",
                url: "/Dashboard/UpdateAccount",
                dataType: "JSON",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf8',
                success: function (res) {
                    alert(res.msg)
                    location.reload(true);
                },
                error: function () {
                    alert("An error occurred")
                }
            })

        }

    }
    /*show account details*/
    //function showAccountDetails(userId, name, email, birthday, contact) {

    //    $('#modify-password-modal').modal('show');

    //    $('#txb-name').val(name);
    //    $('#txb-email').val(email);
    //    $('#txb-birthday').val(birthday);
    //    $('#txb-contact').val(contact);


    //}

    //function editProfileDetails() {

    //    var name = $('#txb-name').val();
    //    var email = $('#txb-email').val();
    //    var birthday = $('#txb-birthday').val();
    //    var contact = $('#txb-contact').val();


    //    if (confirm('Are you sure you want to modify the account details?')) {

    //        var data = {
    //            name: name,
    //            email: email,
    //            birthday: birthday,
    //            contact: contact,
    //            userId: userId,
    //        }

    //        $.ajax({
    //            type: "POST",
    //            url: "/Dashboard/EditProfile",
    //            dataType: "JSON",
    //            data: JSON.stringify(data),
    //            contentType: 'application/json; charset=utf8',
    //            success: function (res) {
    //                alert(res.msg)
    //                location.reload(true);
    //            },
    //            error: function () {
    //                alert("An error occurred")
    //            }
    //        })

    //    }

    //}

</script>