@model WebApplication1.Models.RegistrationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @*Set CSS*@
    <style>
        body {
            background-image: url('../../images/login.png');
            overflow-y: hidden
        }

        #roundedcorner {
            border-radius: 20px;
            background: #73AD21;
            padding: 25px;
        }

        h1 {
            color: white;
            font-family: 'Agency FB';
            font-size: 500%;
        }
    </style>

    @*Header*@
    <h1>JAPK Repository System</h1>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> @ViewBag.ErrorMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> @ViewBag.SuccessMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @*Center Elements*@
    <div class=" d-flex align-items-center justify-content-center vh-100" style="flex-direction:column">
        @using (@Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="bg-light border border-dark" style="margin-bottom:50px" id="roundedcorner">
                <div style="text-align:center; margin-bottom:25px">
                    <h3>Registration</h3>
                    <h6>We do not sell/share your information to any third party companies</h6>
                </div>
                <div style="text-align:center; margin-bottom:10px">
                    @Html.TextBoxFor(Model => Model.USERNAME, new { @maxlength = "12", @class = "form-control", style = "margin:auto;", required = "required", placeholder = "Username" })
                </div>
                <div style="text-align:center; margin-bottom:10px">
                    @Html.PasswordFor(Model => Model.PASSWORD, new { @class = "form-control", style = "margin:auto;", required = "required", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.PASSWORD, null, new { @class = "text-danger" })

                </div>
                <div style="text-align:center; margin-bottom:10px">
                    @Html.PasswordFor(Model => Model.REPEAT_PASSWORD, new { @class = "form-control", style = "margin:auto;", required = "required", placeholder = "Reapeat-Password" })
                    @Html.ValidationMessageFor(m => m.REPEAT_PASSWORD, null, new { @class = "text-danger" })

                </div>
                <div style="text-align:center; margin-bottom:10px">
                    @Html.TextBoxFor(Model => Model.NAME, new { @maxlength = "50", @class = "form-control", style = "margin:auto;", required = "required", placeholder = "Name" })
                </div>
                <div style="text-align:center; margin-bottom:10px">
                    @Html.TextBoxFor(Model => Model.EMAIL, new { @maxlength = "100", @class = "form-control", style = "margin:auto;", required = "required", placeholder = "Email" })
                </div>
                <div style="text-align:center; margin-bottom:10px">
                    @Html.TextBoxFor(Model => Model.CONTACT, new { @maxlength = "100", @class = "form-control", style = "margin:auto;", required = "required", placeholder = "Contact Number" })
                </div>
                <div style="text-align:center; margin-bottom:10px">
                    @Html.TextBoxFor(Model => Model.BIRTHDAY, new { @maxlength = "100", @class = "form-control", style = "margin:auto;", required = "required", placeholder = "Birthday" })
                </div>
                <div style="text-align:center">
                    <button class="btn btn-info btn-block" style="margin-top:25px; width:30%">Register</button>
                </div>

                <div class="d-flex justify-content-center" style="margin-top:50px">
                    <p style="text-align:center">
                        Already have an Account? <a href="/Login/Index" id="signinprompt">Login Here.</a>
                    </p>
                </div>

            </div>

        }

    </div>

</body>
</html>
